body::-webkit-scrollbar { width: 0 !important }
body {
    overflow-x:hidden
}

.ant-anchor-ink::before {
    background-color: grey !important;
}

.ant-anchor-ink-ball {
    display: none !important;
}

.ant-anchor-link-title {
    color: rgba(255, 255, 255, 0.65) !important;

}

.ant-anchor-link {
    padding-bottom: 23.5px !important;
}

.ant-anchor-link-title:hover {
    color: white !important;
}